
.navbar{
    position:fixed;
    top:0;
    width:100%;
    padding:1rem 3rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:999;

    background:rgba(2,6,23,0.75);
    backdrop-filter:blur(12px);

    border-bottom:1px solid rgba(0,255,255,0.08);
}

.nav-links{
    display:flex;
    gap:2rem;
    list-style:none;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

.nav-links a:hover{
    color:var(--accent);
    text-shadow:var(--shadow-neon);
}
